*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    margin: 0 auto;
    padding: 1rem;
    width: 70%;
    border: 1px solid #333;
}

.heading{
    margin: 1rem 0;
    text-align: center;
}

input{
    width: 75%;
}

.btn{
    margin: 1rem auto;
    width: 5rem;
}

.alert {
    margin: 1rem 0;
    font-size: .8rem;
    color: red;
}

.form.loading {
    position: relative;
  }
  .form.loading::before {
    background: var(--clr-white);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: var(--radius);
    opacity: 0.8;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .form.loading::after {
    content: '';
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: var(--clr-primary-5);
    animation: spinner 0.6s linear infinite;
  }